*{
  margin: 0;
  padding: 0;
  text-align: center;
}

.app_form 
{
  display: flex;
  padding: 20px;
  background-color: #e9e9eb;
  text-align: center;
  flex-direction: row;
  bottom: 0;
position: fixed;
z-index: 1;
width: 100%;
margin: 20px;
align-items: center;
justify-content: center;
}

.app-formControl 
{
  /* display: flex !important;
  flex-direction: row !important; */
}

.app-input 
{
flex: 1;
}

.app-button 
{
flex: 0;
}